*{
    margin: 0;
    padding: 0;box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
    border: none;
    
}
nav a{
    text-decoration: none;
    color: rgba(255, 255, 255,0.8); 
}
header .logo{
    width: 4rem;
    z-index: 1;
}
header{
    position: fixed;
    color: white;
    background-color: black;
    padding: 1.4rem 6rem;
    width: 100vw;
    max-width: 100%;
    display: flex;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    gap: 20px;
    color: white;
    border: 2px solid black;
    transition: 0.3s;
}
nav.expanded{
    bottom: 0 !important;
}

.more{
    width: 25px;
    display: none;
    filter: invert(1);
    z-index: 1;
    /* position: absolute;
    right: 30px;
    top: 30px; */
}
.sec1{
    width: 100vw;
    background:url('images/home-img.jpeg') ;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.sec1 h1{
    color: white;
    font-size: clamp(2.1875rem, 1.8316rem + 1.7797vw, 3.5rem);
}
.sec1 button{
    background-color: rgba(250, 168, 68, 0.7);
    border: none;
    padding: 0.6rem 1.7rem;
    width: max-content;
    
}
.sec1-con{
    padding-right: 11vw;
    padding-left: 7vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    /* max-width: 100px; */
}
.sec1-con p{
    color: rgba(141, 141, 141, 0.8); 
    margin: 20px 0;
    max-width: 500px;
    font-size: clamp(0.9375rem, 0.8528rem + 0.4237vw, 1.25rem);}


/* ===========================================   sECTION   2  ============================================ */


